---
import { mockShots } from '../data/shots.js';
import ShotCard from './ShotCard.astro';

const shots = mockShots;
---

<section class="shots-grid mx-auto ">
  <div class="">
    <div class="grid gap-10 justify-center" style="grid-template-columns: repeat(auto-fill, 318px);">
      {shots.map((shot) => (
        <ShotCard shot={shot} />
      ))}
    </div>
  </div>
</section>

<style>
  .shots-grid {
    padding: 2rem 0;
    max-width: 92vw;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1504px;
    }
  }
</style>